@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Petemoss&display=swap");

.book {
	--book-height: 80vh;
	--book-ratio: 1.4;
	display: flex;
	justify-content: center;
}

.book > div {
	height: var(--book-height);
	width: calc(var(--book-height) / var(--book-ratio));
	overflow: auto;
	background-color: #100940;
	transform: scale(0.9);
	border-radius: 6px;
	transform-origin: left;
}

.book-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9;
	text-align: center;
	background-size: 2em 2em;
	background-color: #232323;
	color: white;
	transition: transform 2s;
}

.book-cover::before {
	content: "";
	position: absolute;
	width: 20px;
	right: 20px;
	top: 0;
	bottom: 0;
	background-color: #25afb8;
}

.BookTitle {
	font-family: "Petemoss", cursive;
	font-size: 7rem;
	font-weight: 300;
	color: #f84f85;
}

.BookSubTitle {
	font-size: 3rem;
  color: #25afb8;
}

.separator {
	--separator-size: 8px;
	width: var(--separator-size);
	height: var(--separator-size);
	background-color: #dbd75d;
	margin: 50px auto 60px auto;
	border-radius: 50%;
	position: relative;
}

.separator::after,
.separator::before {
	content: "";
	position: absolute;
	width: 12px;
	background-color: white;
	height: 2px;
	top: calc(50% - 1px);
}

.separator::after {
	left: 15px;
}

.separator::before {
	right: 15px;
}

.book-content {
	transform: scale(0.9) translateY(30px);
	background-color: white !important;
	transition: all 0.3s 1s;
}

.DJOTW{
  width: 100%;
  object-fit: contain;
}

.book-cover > div {
	transition: opacity 0s 0.6s;
}

.book:hover > .book-cover {
	transform: rotateY(180deg) scale(0.9);
}

.book:hover > .book-cover > div {
	opacity: 0;
}

.book:hover > .book-content {
	transform: scale(0.9) translateY(0px);
}

.book:hover > .book-content h3,
.book:hover > .book-content p {
	opacity: 1;
}

@media only screen and (max-width: 767px) {
  .book {
    --book-height: 100vh;
    --book-ratio: 1.4;
  }

  .book > div {
    height: var(--book-height);
    width: calc(var(--book-height) / var(--book-ratio));
  }

  .BookTitle {
    font-size: 4rem;
  }

  .BookSubTitle {
    font-size: 2rem;
  }

  .separator {
    --separator-size: 4px;
    margin: 30px auto 40px auto;
  }

}

